body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1166px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.accent {
  color: #fd9222;
}

/*--------------HEADER----------------*/

.header {
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  gap: 4px;
}

.logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
  margin-left: 90px;
}

.header-soc-item {
}

/*-------------------------------*/

/*--------------HERO-----------------*/

.hero {
  padding-bottom: 80px;
}

.hero-wrapper {
  padding: 381px 40px 40px 40px;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border: none;
  padding: 14px 40px;
  border-radius: 100px;
  margin-right: 14px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
  background-color: transparent;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  display: block;
  margin-left: auto;
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}

/*-------------------------------*/

/*---------------BENEFITS----------------*/

.benefits {
  background-color: #1e1823;
}

.benefits-title {
}

.benefits-list {
  display: flex;
  gap: 88px;
  padding: 50px;
}

.benefits-item {
  width: calc((100% - 2 * 88px) / 3);
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*-------------------------------*/

/*-------------TASTE------------------*/

.taste {
  padding-top: 120px;
  padding-bottom: 120px;
}

.taste-title {
  max-width: 412px;
  margin: auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  width: calc((100% - 3 * 32px) / 4);
  border-radius: 15px;
  padding: 28px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}

.taste-item:nth-child(even) {
  background-color: #fff;
  border: 1px solid #fd9222;
  color: #111;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 36px;
}

/*-------------------------------*/

/*--------------MADE-----------------*/

.made {
  padding-bottom: 120px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrapper {
  display: flex;
  gap: 20px;
}

.made-list-wrapper {
  padding: 32px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-list {
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*-------------------------------*/

/*---------------PRODUCTS----------------*/

.products {
  padding-bottom: 120px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  width: calc((100% - 3 * 18px) / 4);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  background: #fff;
  padding: 32px 20px;
}

.products-image {
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 2px;
  text-align: center;
}

.products-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.products-btn {
  font-weight: 600;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  margin: auto;
  display: block;
  margin: auto;
  padding: 8px 20px;
}

/*-------------------------------*/

/*--------------SELLERS-----------------*/

.sellers {
  padding-bottom: 120px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  width: 386px;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.sellers-image {
  object-fit: fill;
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 28px;
  text-align: center;
  padding-bottom: 28px;
}

/*-------------------------------*/

/*-------------FEEDBACK------------------*/

.feedback {
  padding-bottom: 120px;
}

.feedback-title {
  margin-bottom: 50px;
}

.feedback-list {
  display: flex;
  gap: 28px;
}

.feedback-item {
  width: calc((100% - 28px * 2) / 3);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 24px;
}

.feedback-image {
  margin: auto;
}

.feedback-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 24px;
}

.feedback-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.feedback-btn {
  font-weight: 600;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: transparent;
}

.feedback-btn:hover,
.feedback-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

/*-------------------------------*/

/*--------------FOOTER-----------------*/

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 54px;
  margin-bottom: 42px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-title .accent {
  color: #fd9222;
}

.footer-soc-wrapper {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.footer-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  font-style: normal;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-soc-item {
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-contact-list {
}

.footer-contact-item {
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #fd9222;
}

.footer-menu {
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}

/*-------------------------------*/
