body {
font-family: "Montserrat", sans-serif;
font-size: 14px;
line-height: 1.28;
color: #111111;
}

a {
text-decoration: none;
}

ul{
list-style: none;
padding: 0;
margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
margin: 0;
padding: 0;
}

button{
cursor: pointer;
}

.container{
width: 1136px;
margin: 0 auto;
padding: 0 15px;
}

/*-----HEADER-----*/ 

.container-header{

}

.header{
padding-top: 24px;
padding-bottom: 32px;
}


.header-nav{

}

.header-link {
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
color: #111111;
line-height: 1.1;
font-style: italic;
letter-spacing: -0.03em;
}

.header-image{

}

.navigation {
color: #111111;
line-height: 1.14;
list-style: none;
font-weight: 500;
letter-spacing: -0.02em;
cursor: pointer;
}


.home:hover{
color: #FD9222;
}

.how-made-nav:hover{
color: #FD9222;
}
.chocolate-is-loved:hover{
color: #FD9222;
}

.address {
list-style: none;
}

/*-----HERO-----*/

.hero {
padding-bottom: 80px;
}

.hero-container{
background-color: rgba(17, 17, 17, 0.6);
padding: 380px 40px 40px 40px;
border-radius: 30px;
}

.main-page {
    color: #FFFFFF;
    font-size: 28px;
    line-height: 1.21;
    font-weight: 500;
    letter-spacing: -0.03em;
    max-width: 484px;
}

.button-buy {
    color: #ffffff;
    background-color: #FD9222;
    font-weight: 600;
    text-align: center;
    border-radius: 100px;
    padding: 14px 40px;
    width: 144px;
    height: 45px;
    cursor: pointer;
}
.how-made{
border: 1px solid #fff;
border-radius: 100px;
padding: 14px 40px;
width: 183px;
height: 45px;
color: #FFFFFF;
}
.scroll{
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #fff;
}

/*-----BENEFITS-----*/

.benefits {
background-color: #1E1823;
color: #ffffff;
padding-top: 50px;
padding-bottom: 50px;
}

.benefits-list {
    list-style: none;
}
.benefits-items{
padding-left: 18px;
padding-right: 18px;
}

.benefits-title {
font-size: 18px;
font-weight: 600;
margin-bottom: 18px;
}

.benefits-text {
    letter-spacing: -0.02em;
}

.taste {
    color: #FD9222;
}

/*-----INGREDIENTS-----*/

.ingredients{
padding-top: 120px;
padding-bottom: 60px;
}
.ingredients-title {
font-size: 24px;
line-height: 1.16;
text-align: center;
font-weight: 600;
letter-spacing: -0.03em;
text-transform: uppercase;
max-width: 412px;
margin: 0 auto;
margin-bottom: 28px;
}

.ingredients-text {
text-align: center;
letter-spacing: -0.02em;
margin-bottom: 50px;
max-width: 486px;
margin: 0 auto;
}

.ingredients-photo {
    list-style: none;
}
.ingredients-item{

}

.chocolate-ingredients {
    font-weight: 600;
    letter-spacing: -0.02em;
}


/*-----MADE-----*/

.discover{
padding-top: 60px;
padding-bottom: 60px;

}
.made {
    color: #FD9222;
}

.direction {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
}

.discover-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 28px;
    max-width: 350px;
}
.discover-list{

}

.discover-items{
margin-bottom: 24px;
}

.discover-items:last-child{
margin-bottom: 0;
}
.discover-text {
    letter-spacing: -0.02em;
}

/*-----PRODUCTS-----*/

.products{

}
.products-title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.03em;
    line-height: 1.16;
    color: #111111;
}

.products-header {
    color: #FD9222;
}

.chocolate-type {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.chocolate-description {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 1.16;
}

.chocolate-list {
    list-style: none;
}
.products-item{

}

.chocolate-button {
    background-color: #fafafa;
    width: 94px;
    height: 33px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
}

/*-----SELLERS-----*/


.sellers{

}

.top {
    color: #FD9222;
}

.top-sellers {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}
.sellers-list{

}
.sellers-items{

}
.top-photo {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.chocolate {
    color: #FD9222;
}

/*-----LOVED-----*/

.loved{

}
.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.feedback-list {
    list-style: none;
}
.feedback-items{

}

.visitors {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.feedback {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.feedback-button {
    font-weight: 600;
    font-size: 18px;
    width: 222px;
    height: 50px;
}

/*-----FOOTER-----*/


.chocolate-footer {
    color: #FD9222;
}
.footer{
    background-color: #1e1823;

}
.footer-text {
font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.02em;
color: #ffffff;
}

.social-networks {
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: #fff;
}

.footer-list {
    list-style: none;
    color: #fff;
}
.footer-items{
color: #fff;
}
.footer-soc-link{
color: #fff;
}
.footer-address{
color: #fff;
}
.footer-address-list{
color: #fff;
}
.footer-address-item{
color: #fff;
}
.contact-us {
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: #fff;
}

.contact {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.footer-navigation {
    font-weight: 500;
    line-height: 1.13;
    letter-spacing: -0.02em;
    list-style: none;
}
.footer-nav-item{
color: #fff;
}
.footer-nav-link{
color: #fff;
}
